* {
  box-sizing: border-box;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
}
img {
  display: block;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
 }

.gallery-link {

}

.gallery-image {
  width: 360px;
  border: 2px solid black;
  }

.gallery-image:hover {
  border: 2px solid blue;
}
